* {
    box-sizing: border-box;
    margin: 0;
margin-top: 7px;
    padding: 0;
}

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #009999;
}
p {
    margin-bottom: 16px; 
}

header {
 background-color: #aaaaaa;   
    color: #ffffff;
    height: 22px;
   
}

header h1 {
    float: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 42px;
    font-weight: 500;
    padding: 10px; /* TRouBLe */
}

header nav {
    float: right;
 margin-top: 5px; 
    margin-bottom: 24px;
}

header a {
    font-family: cursive, sans-serif;
    color:#000000;
    margin-right: 50px;
    text-decoration: overline;
}
header a:link {}
header a:visited {}
header a:hover {
    color:#ffffff;
}
header a:active {
text-decoration: underline;
}
header a:focus {}

article {
    clear: both;
    padding: 0 10px 0 10px;
    text-align:left;
}
article h1 {
    font-family:cursive;
 font-size: 36px;
    line-height: 44px;
    margin-top: 4px;
    text-align: center;
}
}
article h2 {
 font-size: 24px;  
    line-height: 28px;
    margin-bottom: 4px;
    
}
footer {
    background-color: #aaaaaa;   
    color: #000000;
    height: 55px;
    font-size: 12px;
    padding: 0 10px 0 10px;
}
